body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 8px;
    float: left;
}

header .contenedor-botones {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 10px auto;
}
header .contenedor-botones .boton-registro{
    margin-left: 20px;
}

.boton-inicio-sesion,
.boton-registro {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.boton-inicio-sesion:hover,
.boton-registro:hover {
    background-color: #c5c0c0;
}

h1 {
    font-size: 2em;
    margin: 0;
}

main {
    padding: 20px;
}

.destinos {
    margin-top: 20px;
}

.destinos h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.destinos ul {
    list-style: none;
    padding: 0;
}

.destinos li {
    display: inline-block
}