body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(133, 163, 102, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/*damos el estilo al título para que sea alineado la izquierda*/
header h1 {
    font-size: 2em;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 8px;
    float: left;
}

header .contenedor-botones {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 10px auto;
}
header .contenedor-botones .boton-registro{
    margin-left: 20px;
}

/*se genera el estilo para ambos botones*/
section button:first-child {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer; /*ícono que toma el cursor al ubicarse en el botón*/
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

/*se crea el efecto hover*/
.boton-inicio-sesion:hover,
.boton-registro:hover {
    background-color: #c5c0c0;
}

main {
    padding: 20px;
}

.destinos img{
    height: auto;
    width: 100%;
}

.destinos {
    margin-top: 0px;
}

.destinos h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.destinos ul {
    list-style: none;
    padding: 0;
    display: grid;
}

.destinos li {
    display: inline-block
}
aside{
    display: flex;
    float: center;
    padding: 20px;
    background-color: white;
    width: 90%;
    height: 1000px;
    justify-content: center;
}


.information{
    display: grid;
    column-gap: 10px;
    grid-template-columns: 70% 30%;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
}